@import '../../stylesheet/mixin.scss';
@import '../../stylesheet/variable.scss';


.report {
    background-color: $light-gray;
    height: 100vh;
    overflow-y: overlay;

    &-container {
        width: 80%;
        margin: 0 auto;
        padding: 2.5rem 0 6rem;
    }

    .form-group{
        display: flex;
        align-items: center;

        &-date{
            margin-right: 1rem;
        }
    }

    &-table {
        border: 1px solid #ededed;
        width: 100%;
        margin: 2rem 0;

        th,
        td {
            border-bottom: 1px solid $table-border-color;
            border-right: 1px solid $table-border-color;
            padding: 10px;
            text-align: center;
        }
    }

    &-submit-button {
        background-color: #00388b;
        height: 2rem;
        margin-left: 1rem;
        color: #fff;
        font-size: 13px;
        border: unset;
    }

    &-main {
        display: flex;
        flex-flow: wrap;
    }

    &-date-filter {
        display: flex;
    }

    &-start-date {
        margin-right: 1rem;
    }

    &-section {
        width: 30%;
        border-radius: 5px;
        margin: 1rem 0;
        display: flex;
        flex-flow: column;
        align-items: start;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        margin-right: 2rem;

        @media only screen and (max-width: 768px) {
            width: 48%;
        }
    }

    &-text {
        margin-bottom: 1rem;
        padding-left: 1.1rem;

        p {
            margin-bottom: 0;
            font-weight: 500;
        }

        .date {
            font-size: 0.9rem;
        }
    }

    img {
        width: 75px;
        height: 75px;
        margin-top: 1rem;
    }
}