@import "../../stylesheet/mixin.scss";
@import "../../stylesheet/variable.scss";

.navbar {
    background-color: $black-color;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 6rem;

    svg {
        fill: $white;
        font-size: 22px;
        cursor: pointer;
    }

    &-logo{
        display: flex;
        align-items: center;

        a{
            text-decoration: none;
            color: #fff;
        }
    }

    span {
        padding: 0px 5px;
        background-color: $red-color;
        border-radius: 50%;
        position: relative;
        top: -1rem;
        left: -0.5rem;
    }
    .logo {
        width: 60px;
        margin-right: 1rem;
    }
    &-section {
        @include flexBetween;

        h1{
            color: $white;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    }

    &-container {
        width: 80%;
        margin: 0 auto;
    }

    &-menu {
        @include flexAlignCenter;

        ul {
            @include flex;
            margin-bottom: 0;

            li {
                list-style-type: none;
                a {
                    padding: 1rem;
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}
