@import '../../stylesheet/mixin.scss';
@import '../../stylesheet/variable.scss';

.invoice{
    background-color: $white;
    width: 40%;
    height: 60vh;
    overflow-y: overlay;
    z-index: 1;
    position: absolute;
    padding: 2.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .close-icon {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    &-head{
        @include flexBetween;
        border-bottom: 1px solid $table-border-color;
    }

    &-title{
        text-align: center;
    }
    &-name{
        @include flexBetween;
    }

    &-total-value{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 2rem 0;

        h4 , p {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
    }

    &-value{
        width: 50%;
        @include flexBetween
    }

}