@import '../../stylesheet/mixin.scss';
@import '../../stylesheet/variable.scss';


.product {
   background-color: $light-gray;
   height: 100vh;
   overflow-y: overlay;

   &-container {
      width: 80%;
      margin: 0 auto;
      padding: 2.5rem 0 2rem;
      display: flex;
      flex-wrap: wrap;

      @media only screen and (max-width: 768px) {
         width: 90%;
      }
   }

   &-list {
      background-color: $light-gray;
      width: 30%;
      margin: 0 1rem 1rem;


      @media only screen and (max-width: 768px) {
         width: 100%;
      }
   }

   &-image {
      @include flexCenter;

      img {
         width: 100%;
      }
   }

   &-details {
      padding: 2rem;
      background-color: $light-gray-01;

      h4 {
         margin: 0;
      }

      p {
         margin: 0.5rem 0;
      }
   }

   &-button {
      background-color: $black-color;
      color: $white;
      padding: 0.5rem;
      margin: 1rem 0 0;
      cursor: pointer;
   }
}